@model ApplicationUserModel

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && Model != null)
    {  
        <li class="nav-item">         
            <a class="btn btn-outline-primary fw-bold btn fixed-size-btn" asp-action="@nameof(ManageAccountController.Index)" asp-controller="@typeof(ManageAccountController).ControllerName()" title="Manage">Профиль</a>
        </li>
        <li class="nav-item">              
            <a class="btn btn-outline-success fw-bold btn fixed-size-btn" asp-action="@nameof(AccountController.Logout)" asp-controller="@typeof(AccountController).ControllerName()">Выйти</a>
        </li> 
    }         
    else
    {
         <li class="nav-item">
            <a class="btn btn-outline-primary fw-bold btn fixed-size-btn" asp-action="@nameof(AccountController.Registration)" asp-controller="@typeof(AccountController).ControllerName()">Регистрация</a>
         </li>
         <li class="nav-item">
            <a class="btn btn-outline-success fw-bold btn fixed-size-btn" asp-action="@nameof(AccountController.Login)" asp-controller="@typeof(AccountController).ControllerName()">Вход</a>
         </li>
    }   
</ul>

