@model IEnumerable<Company.Models.Employee>
@{
    ViewData["Title"] = "View";
}

<h2>@ViewData["DepartmentDescription"]</h2>

<h4>Список сотрудников</h4>

<p>
    <a asp-action="Create" asp-route-departmentId="@ViewBag.MainDepartment">Добавить сотрудника</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Имя")                
            </th>
            <th>
                @Html.DisplayName("Фамилия")
            </th>
            <th>
                @Html.DisplayName("Возраст")
            </th>
            <th>
                @Html.DisplayName("Номер телефона")
            </th>
            <th>
                @Html.DisplayName("Отдел")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @foreach(Department dep in ViewBag.Departments)
                {
                    if(item.DepartmentID == dep.ID)
                    {
                        <p>@dep.DepartmentName</p>
                        break;
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |          
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
