@model EmployeeModel

@{
    ViewData["Title"] = "View";
   
}

<h1>Удаление записи</h1>

<h3>Потвердите удаление следующей записи:</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName(nameof(Model.Name))
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName(nameof(Model.Surname))
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName(nameof(Model.Age))
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName(nameof(Model.Number))
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName(nameof(Model.DepartmentID))
        </dt>
        <dd class = "col-sm-10">
            <p>@ViewBag.Department</p>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-outline-danger btn-sm fw-bold" /> 
        <a asp-action="@nameof(EmployeeController.Details)" asp-controller="@typeof(EmployeeController).ControllerName()" class="btn btn-outline-secondary btn-sm fw-bold">Назад</a>
    </form>
</div>
