@model IEnumerable<EmployeeModel>

@{
  var roles = User.Claims
   .Where(c => c.Type == ClaimTypes.Role)
   .Select(c => c.Value);
}

<h4>Список сотрудников:</h4>
<p>
  @foreach (var role in roles)
  {
     @switch (role)
     {
        case "Admin":
        case "Manager":
           <a class="btn btn-outline-primary btn-sm fw-bold" asp-action="Create" asp-route-departmentId="@ViewBag.MainDepartment">Добавить сотрудника</a>
           break;
        default:
           break;
     }   
  }    
</p>

<table class="table table-sm w-75 table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>                
                @Html.DisplayName("Имя")                
            </th>
            <th>
                @Html.DisplayName("Фамилия")
            </th>
            <th>
                @Html.DisplayName("Возраст")
            </th>
            <th>
                @Html.DisplayName("Номер телефона")
            </th>
            <th>
                @Html.DisplayName("Отдел")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @foreach(DepartmentModel dep in ViewBag.Departments)
                {
                    if(item.DepartmentID == dep.ID)
                    {
                        @dep.DepartmentName
                        break;
                    }
                }
            </td>
            <td>
               @foreach (var role in roles)
               {
                  @switch (role)
                  {
                     case "Admin":
                     case "Manager":
                        <a asp-action="Edit" class="btn btn-outline-secondary btn-sm fw-bold" asp-route-id="@item.ID">Изменить</a><span> | </span>
                        <a asp-action="Delete" class="btn btn-outline-danger btn-sm fw-bold" asp-route-id="@item.ID">Удалить</a>
                        break;
                     default:
                        break;
                  }   
               }
            </td>
        </tr> 
     }
    </tbody>
</table>

