@model ApplicationUserModel

@{
	List<string> roles = ViewData["roles"] as List<string>;
	List<string> userRoles = ViewData["userRoles"] as List<string>;
}

<div>
	<p id="userId" value="@Model.Id">ID: @Model.Id</p>
	<p>UserName: @Model.UserName</p>
	<p>Email: @Model.Email</p>
	<p>Phone: @Model.PhoneNumber</p>
	<p>Name: @Model.Name</p>
</div>
 <h2>Роли учетной записи:</h2>
<form id="roles-form" method="post" data-form="AccessSettings">
	@foreach(var role in roles)
	{
		 <p>
			 <input type="checkbox" name="selectedRoles" value="@role"  @(userRoles.Contains(role) ? "checked" : "") /> @role
		 </p>							 
	}		 	
	<input type="hidden" id="selectedRolesInput" name="selectedRoles" value="" />
	<p>
		<button class="btn btn-success" type="submit">Сохранить</button>
	</p>
</form>

<h4>Описание ролей:</h4>
<ul>
	<li>
		<p>Manager -  имеет доступ к списку сотрудников компании. Может добавлять, изменять и удалять сотрудника</p>
	</li>
	<li>
		<p>User - имеет доступ к списку сотрудников без возможности изменения данных</p>
	</li>
</ul>
<script src="~/js/getRolesForm.js"> </script>